@model _1911066291_NguyenHoangPhuoc_BigSchool.Models.Course 
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form>
    <div class="form-group ">
        @Html.LabelFor(m=>m.place )
        @Html.TextBoxFor(m => m.place, new { @class ="form-control"})

    </div>
</form>
